name: Terraform 

on:
  push:
    branches:
      - main

jobs:
  terraform:
    env:
      TF_TOKEN: ${{ secrets.TF_TOKEN }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.6.3
        token: ${{ secrets.TF_TOKEN }}

    - name: Initialize Terraform
      run: terraform init
      working-directory: ./

    - name: Terraform Format
      run: terraform fmt -check -recursive

    - name: Terraform Validate
      run: terraform validate
      
    - name: Terraform Format
      run: terraform fmt

    - name: Terraform Plan
      run: terraform plan -out=tfplan

    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan
